/* Header burger button animations */
@keyframes burgerTop {
  0% {
    transform: translateY(0px) rotate(0);
  }

  50% {
    transform: translateY(10px) rotate(0);
  }

  100% {
    transform: translateY(7.5px) rotate(45deg);
  }
}

@keyframes burgerTopReverse {
  0% {
    transform: translateY(7.5px) rotate(45deg);
  }

  50% {
    transform: translateY(7.5px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes burgerBottom {
  0% {
    transform: translateY(0px) rotate(0);
  }

  50% {
    transform: translateY(-10px) rotate(0);
  }

  100% {
    transform: translateY(-7.5px) rotate(-45deg);
  }
}

@keyframes burgerBottomReverse {
  0% {
    transform: translateY(-7.5px) rotate(-45deg);
  }

  50% {
    transform: translateY(-7.5px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}