* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}

body {
  font-family: "JetBrains Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: background 0.5s ease;
}

header:has(input#header-menu-cb:checked) {
  background-color: white;
}

header div#logo h1 {
  font-size: clamp(1.5rem, 1.2000rem + 1.5000vw, 3rem);
  font-weight: 700;
}

header nav#header-menu {
  display: flex;
  flex-direction: column;
  align-items: end;
}

header input {
  display: none;
}

/* Header menu burger button */
header label {
  min-height: 48px;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
}

header label span {
  content: "";
  width: 30px;
  height: 2px;
  background-color: black;
  border-radius: 4px;
  display: block;
  transform-origin: center;
}

header input:not(:checked)+label span:nth-of-type(1) {
  animation: burgerTopReverse 0.5s ease forwards;
}

header input:not(:checked)+label span:nth-of-type(2) {
  transition: width 0.5s ease;
}

header input:not(:checked)+label span:nth-of-type(3) {
  animation: burgerBottomReverse 0.5s ease forwards;
}

header input:checked+label span:nth-of-type(1) {
  animation: burgerTop 0.5s ease forwards;
}

header input:checked+label span:nth-of-type(2) {
  width: 0px;
  transition: width 0.1s ease 0.1s;
}

header input:checked+label span:nth-of-type(3) {
  animation: burgerBottom 0.5s ease forwards;
}

/* Header menu navigation list */
header ul {
  width: 100%;
  background-color: white;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(32px + clamp(24px, 19px + 1.5000vw, 48px));
  left: 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  transition: 0.5s ease;
}

header nav#header-menu input:checked~ul {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

header nav#header-menu ul li {
  width: 100%;
  padding: 8px 16px;
  transition: 0.5s ease;
  cursor: pointer;
  user-select: none;
}

header nav#header-menu ul li:hover,
header nav#header-menu ul li:active {
  background-color: black;
  color: white;
}

/* Main */
main {
  width: 100%;
  height: 100%;
  /* background-color: gray; */
  background-image: url("../Images/temp.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 32px 16px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-end;
  position: absolute;
  transition: 0.5s ease;
  z-index: -1;
}

header:has(input#header-menu-cb:checked)~main {
  filter: brightness(50%);
}

main section#main-project-info {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main section#main-project-info h2 {
  font-size: clamp(1.25rem, 1.0357rem + 1.0714vw, 2rem);
}

main section#main-project-info p {
  font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
}

main section#main-project-info div#project-tags-ctn {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}

main section#main-project-info div#project-tags-ctn span {
  background-color: white;
  font-size: clamp(0.75rem, 0.6786rem + 0.3571vw, 1rem);
  padding: 2px 8px;
  border-radius: 24px;
}

main section#main-nav-buttons {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

main section#main-nav-buttons button {
  width: 40px;
  height: 40px;
  background-color: black;
  border: none;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

main section#main-nav-buttons button::before {
  width: 0px;
  height: 0px;
  background-color: white;
  content: "";
  border-radius: 50%;
  display: block;
  position: absolute;
  transition: 0.3s ease;
}

main section#main-nav-buttons button:hover::before {
  width: 44px;
  height: 44px;
}

main section#main-nav-buttons button:first-of-type {
  transform-origin: center;
  transform: rotate(180deg);
}

main section#main-nav-buttons button span {
  width: 10px;
  height: 2px;
  background-color: white;
  display: block;
  border-radius: 2px;
  transition: background 0.3s ease;
}

main section#main-nav-buttons button:hover span {
  background-color: black;
}

main section#main-nav-buttons button span:first-of-type {
  transform-origin: center;
  transform: translateX(2px) rotate(45deg);
}

main section#main-nav-buttons button span:last-of-type {
  transform-origin: center;
  transform: translateX(-2px) rotate(-45deg);
}