* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}

body {
  font-family: "JetBrains Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**************************************** HEADER ****************************************/
header {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: background 0.5s ease;
}

header:has(input#header__menu-cb:checked) {
  background-color: white;
}

header div#logo h1 {
  font-size: clamp(1.5rem, 1.2000rem + 1.5000vw, 3rem);
  font-weight: 700;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
}

header:has(input:checked) div#logo h1 {
  color: black;
  text-shadow: none;
}

/*** Header - Menu ***/
header nav#header__menu {
  display: flex;
  flex-direction: column;
  align-items: end;
}

/* Header - Menu burger button */
header input {
  display: none;
}

header label {
  min-height: 48px;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
}

header label span {
  content: "";
  width: 30px;
  height: 2px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  display: block;
  transform-origin: center;
  transition: 0.5s ease;
}

header input:checked+label span {
  background-color: black;
  box-shadow: none;
}

header input:not(:checked)+label span:nth-of-type(1) {
  animation: burgerTopReverse 0.5s ease forwards;
}

header input:not(:checked)+label span:nth-of-type(2) {
  transition: width 0.5s ease;
}

header input:not(:checked)+label span:nth-of-type(3) {
  animation: burgerBottomReverse 0.5s ease forwards;
}

header input:checked+label span:nth-of-type(1) {
  animation: burgerTop 0.5s ease forwards;
}

header input:checked+label span:nth-of-type(2) {
  width: 0px;
  transition: width 0.1s ease 0.1s, box-shadow 0.5s ease, background 0.5s ease;
}

header input:checked+label span:nth-of-type(3) {
  animation: burgerBottom 0.5s ease forwards;
}

/* Header - Menu navigation list */
header ul {
  width: 100%;
  background-color: white;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(32px + clamp(24px, 19px + 1.5000vw, 48px));
  left: 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  transition: 0.5s ease;
}

header nav#header__menu input:checked~ul {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

header nav#header__menu ul li {
  width: 100%;
  padding: 8px 16px;
  transition: 0.5s ease;
  cursor: pointer;
  user-select: none;
}

header nav#header__menu ul li:hover,
header nav#header__menu ul li:active {
  background-color: black;
  color: white;
}

/***************************************** MAIN *****************************************/
main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(239, 224, 204);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 32px 16px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-end;
  position: absolute;
  transition: 0.5s ease;
  z-index: -1;
}

header:has(input#header__menu-cb:checked)~main {
  filter: brightness(50%);
}

main::before {
  width: 100%;
  height: 250px;
  background: #000000;
  background: linear-gradient(0deg, rgb(229, 216, 200) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* Main - Project background */
main section#main__project-bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(229, 216, 200);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -5;
}

main section#main__project-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  backdrop-filter: blur(4px);
  position: absolute;
  z-index: -4;
}

.img-fade-in {
  opacity: 0;
  animation: projectImageFadeIn 0.5s ease forwards;
}

/* Main - Project info */
main section#main__project-info {
  width: 75%;
  max-width: 300px;
  height: 125px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main section#main__project-info h2 {
  font-size: clamp(1.25rem, 1.0357rem + 1.0714vw, 2rem);
}

main section#main__project-info p {
  font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
}

main section#main__project-info div#project-tags-ctn {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}

main section#main__project-info div#project-tags-ctn span {
  background-color: white;
  font-size: clamp(0.75rem, 0.6786rem + 0.3571vw, 1rem);
  padding: 2px 8px;
  border-radius: 24px;
}

.fade-slide-in {
  opacity: 0;
  transform: translateY(20px);
  animation: projectInfoSlideIn 0.5s ease forwards;
}

.fade-slide-out {
  animation: projectInfoSlideOut 0.5s ease forwards;
}

/* Main - Arrow navigation */
main section#main__nav-arrows {
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

main section#main__nav-arrows button {
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

main section#main__nav-arrows button::before {
  width: 0px;
  height: 0px;
  background-color: black;
  content: "";
  border-radius: 50%;
  display: block;
  position: absolute;
  transition: 0.3s ease;
}

main section#main__nav-arrows button:hover::before {
  width: 44px;
  height: 44px;
}

main section#main__nav-arrows button:first-of-type {
  transform-origin: center;
  transform: rotate(180deg);
}

main section#main__nav-arrows button span {
  width: 10px;
  height: 2px;
  background-color: black;
  display: block;
  border-radius: 2px;
  transition: background 0.3s ease;
}

main section#main__nav-arrows button:hover span {
  background-color: white;
}

main section#main__nav-arrows button span:first-of-type {
  transform-origin: center;
  transform: translateX(2px) rotate(45deg);
}

main section#main__nav-arrows button span:last-of-type {
  transform-origin: center;
  transform: translateX(-2px) rotate(-45deg);
}

/* Main - Dot navigation */
main section#main__nav-progress {
  width: 10px;
  position: absolute;
  right: 16px;
}

main section#main__nav-progress div#nav-dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

main section#main__nav-progress div#nav-dots button.nav-dot {
  width: 8px;
  height: 8px;
  background-color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.3s ease;
  cursor: pointer;
}

main section#main__nav-progress div#nav-dots button.nav-dot:hover {
  background-color: black;
}

main section#main__nav-progress div#nav-dots button.nav-dot:not(.active):hover {
  scale: 1.2;
}

main section#main__nav-progress div#nav-dots button.nav-dot::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
}

.progress-ring {
  pointer-events: none;
  z-index: 1;
}

.progress-ring__circle {
  transition: stroke-dashoffset 0.1s linear;
  transform-origin: 50% 50%;
}