* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}

body {
  font-family: "JetBrains Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**************************************** HEADER ****************************************/
header {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: background 0.5s ease;
}

header:has(input#header__menu-cb:checked) {
  background-color: white;
}

header div#logo h1 {
  font-size: clamp(1.5rem, 1.2000rem + 1.5000vw, 3rem);
  font-weight: 700;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
  cursor: pointer;
  user-select: none;
}

header:has(input:checked) div#logo h1 {
  color: black;
  text-shadow: none;
}

header div#logo h1 a {
  all: unset;
}

/*** Header - Menu ***/
header nav#header__menu {
  display: flex;
  flex-direction: column;
  align-items: end;
}

/* Header - Menu burger button */
header input {
  display: none;
}

header label {
  min-height: 48px;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
}

header label span {
  content: "";
  width: 30px;
  height: 2px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  display: block;
  transform-origin: center;
  transition: 0.5s ease;
}

header input:checked+label span {
  background-color: black;
  box-shadow: none;
}

header input:not(:checked)+label span:nth-of-type(1) {
  animation: burgerTopReverse 0.5s ease forwards;
}

header input:not(:checked)+label span:nth-of-type(2) {
  transition: width 0.5s ease;
}

header input:not(:checked)+label span:nth-of-type(3) {
  animation: burgerBottomReverse 0.5s ease forwards;
}

header input:checked+label span:nth-of-type(1) {
  animation: burgerTop 0.5s ease forwards;
}

header input:checked+label span:nth-of-type(2) {
  width: 0px;
  transition: width 0.1s ease 0.1s, box-shadow 0.5s ease, background 0.5s ease;
}

header input:checked+label span:nth-of-type(3) {
  animation: burgerBottom 0.5s ease forwards;
}

/* Header - Menu navigation list */
header nav#header__menu ul {
  width: 100%;
  background-color: white;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(32px + clamp(24px, 19px + 1.5000vw, 48px));
  left: 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  transition: clip-path 0.5s ease;
}

header nav#header__menu input:checked~ul {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

header nav#header__menu ul li {
  width: 100%;
  font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
  padding: 8px 16px;
  transition: background 0.5s ease, color 0.5s ease;
  cursor: pointer;
  user-select: none;
}

header nav#header__menu ul li:hover,
header nav#header__menu ul li:active {
  background-color: black;
  color: white;
}

header nav#header__menu ul li a {
  all: unset;
}

@media (min-width:796px) {
  header nav#header__menu label {
    display: none;
  }

  header nav#header__menu ul {
    background-color: transparent;
    padding: 0;
    flex-direction: row;
    gap: 40px;
    position: relative;
    top: 0;
    left: initial;
    clip-path: none;
  }

  header nav#header__menu ul li {
    width: fit-content;
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 8px 0;
    display: flex;
    position: relative;
  }

  header nav#header__menu ul li::before {
    width: 0;
    height: 1.5px;
    background-color: white;
    content: "";
    position: absolute;
    bottom: 0;
    transition: 0.3s ease-in-out;
  }

  header nav#header__menu ul li:hover {
    background-color: transparent;
    color: black;
    text-shadow: none;
  }

  header nav#header__menu ul li:hover::before {
    width: 100%;
    background-color: black;
    border-radius: 0;
  }

  main section#main__project-info {
    max-width: 450px;
    height: 150px;
  }

  main section#main__nav-arrows {
    gap: 32px;
  }
}